
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Jumbotron Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="jumbotron.css" rel="stylesheet">

  </head>

  <body>

  
<!-- Jumbotron
================================================== -->
  
  <div class="container">
    <div class= "row">
      <div class ="col-md-12">
        <div class="jumbotron">
          
            <h1>Hello!</h1>
            <p>Let's add a picture here</p>
          
        </div>
      </div>
    </div>
  </div>
  
  <!-- Image classes for Jumbotron 
=================================================-->
  <!--<div class="container">
    <div class="row">
      <div class ="col-md-12">
        <h2> Image Classes</h2> <hr/> 
      </div>
    </div>

    <div class="row">
      <div class ="col-md-4">
          <img src= "app/assets/images/rails.png" />
      </div>
    </div>

  </div> -->



<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js">></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
  </body>