

<% content_for :title do %>About<% end %>
<h3>About the Website!</h3>
<p>This small app uses Twitter-Bootstrap for styling, Heroku for hosting, and is powered by Ruby on Rails. It currently displays static pages but it can also do user authentication and authorization if you want it to. :)</p>

<p> All of the pages are written in basic HTML, so if there are other people on the team who really like HTML and want to go crazy, email me (psoshnin@wellesley.edu) and I will let you edit ALL THE HTML. </p>