

<% content_for :title do %>Resources<% end %>
<h3>All the resources!</h3>
<p>This small app uses Twitter-Bootstrap to create an image carousel, uses a simple survey form, and stores data in a google spreadsheet datastore.</p>