

<% content_for :title do %>Rules<% end %>
<h3>All the Rules!</h3>
<p>This small app uses Twitter-Bootstrap to create an image carousel, uses a simple survey form, and stores data in a google spreadsheet datastore.</p>