

<% content_for :title do %>Schedule<% end %>
<h3>Schedule of events</h3>
<p>This small app uses Twitter-Bootstrap to create an image carousel, uses a simple survey form, and stores data in a google spreadsheet datastore.</p>